body { 
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: black;
}

#earthimagediv { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#earthimagediv > img { 
    height: 700px;
    width: 700px;
    
}


#earth-heading { 
    font-size: 100px;
}

.earth-text { 
    color: white;
    margin-left: 10rem;
    
}

#earthhearth { 
    background-color: white;
}

#earth-section-text{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    text-align: center;
}

#sustainability-title{ 

    padding-top: 30px;
    text-align: center;
    
}

#earth-section-text >  #textdiv{
    font-size: 12px;
    width: 50%;
}

#earthimagedivs { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#earthimagedivs > img { 
    width: 45%;
    border-radius: 20px;
    margin-left: 20px;
}

#earth-section-text > #goal-7-text > p { 
    text-align: center;
}

#mars-section { 
    color: white;
}

#mars-heading { 
    font-size: 40px;
    text-align: center;
    color: #FDF6F0;
}

#mars-section > #mars-text { 
    text-align: center;
    color: #FDF6F0;
}

#marsimagediv { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#marsimagediv > #marsimg { 
    width: 80%;
}

#mars-section-text { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mars-section-text > #marstextdiv {
    width: 33%;
}
#mars-section-text > #marstextdiv > h1, p { 
    text-align: center;
}


#mars-section-text-2 { 
    padding-top: 40px;
    text-align: center;
    margin: 0 20px;
}

#mars-section-text > #marstextdiv > h1, p { 
    text-align: center;
}

#mars-section-text > #angusshit { 
    display: flex;
    justify-content: space-around;

}

#finalmessage { 
    font-size: 100px;
    color: white;
}